<%- include("partials/header.ejs") %>
    <section class="today">
        <div class="content">
            <div class="top-heading">
                
                <h1><%= day %></h1>

            </div>
            <% if(todayWork.length !== 0 ) {%>
                <form class="all-task" action="/delete" method="post">
                <% todayWork.forEach(element => {%>
                    <div class="task">
                        <input type="checkbox" class="checkbox" name="todayId" value="<%= element._id %>" onChange="this.form.submit()">
                        <h3 class="task-text"><%= element.task %></h3>
                    </div>
                        <%}); %>
                </form>
            <%}%>
        
            <form action="/submit" method="post">
                <div class="form">
                    <input placeholder="Add New Task" type="text" name="todayWork" id="todayWork" required>
                    <button type="submit">
                        <img src="/icons/add-btn.svg" alt="">
                    </button>
                </div>
            </form>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>
